streamlit

python-dotenv

langchain
langchain-core
langchain-community
langchain-experimental
langchain-groq
langchain-weaviate

google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-search-results
googlesearch-python

ddgs
duckduckgo-search

faiss-cpu
sentence-transformers
transformers
torch

numpy
pandas
openpyxl

matplotlib
seaborn

requests

openai-whisper
gTTS
edge-tts
pydub

twilio

typing_extensions

serpapi